@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

html, body {
    width: 100%;
    height:100%;
    margin: 0px;
    paddin: 0px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    background-color: #000;
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 100;
}

#loadingScreenDiv {
    position: absolute;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    z-index: 200;
    background-color: #111;
    color: white;
    text-align: center;
}
