html, body {
    width: 100%;
    height:100%;
    margin: 0px;
    paddin: 0px;
}

body {
    background-color: #000;
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
