@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

html, body {
    width: 100%;
    height:100%;
    margin: 0px;
    paddin: 0px;
    overflow: hidden;
}

body {
    font-family: 'Amiri', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    font-style: italic;
    background-color: #000;
    color: #FFF;
    text-align: center;

    @media (max-width: 1000px) {
        font-size: 12pt;
    }

    .small {
        font-size: 14pt;
    }

    @media (max-width: 1000px) {
        .small {
            font-size: 10pt;
            line-height: 15pt;
        }
    }

    p {
        line-height: 100vh;
        margin-top: 0;
    }
}

canvas {
    outline: none;
    position: absolute;
    top: 0;
    left: calc(50vw - 50vh);
    height: 99vh;
    width: 99vh;
    display: block;
    z-index: 100;

    @media (min-width: 0) and (orientation: portrait) {
        width: 99vw;
        height: 90vh;
        left: 0;
    }
}

#currentDay {
    position: absolute;
    z-index: 400;
    padding-top: 21vh;
    padding-left: calc(25vw - 25vh);
    text-align: left;
    line-height: 20pt;
    cursor: help;
    color: #CCC;

    @media (max-width: 1000px) {
        padding: 0;
        bottom: 5vh;
        text-align: center;
        width: 100%;
        line-height: 15pt;
    }
}

.contentBox {
  height: 100vh;
  line-height: 100vh;
  text-align: center;

    @media (max-width: 1000px) {
        width: 90vw;
        margin: 0 auto;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.bottomBox {
    position: absolute;
    bottom: 2vh;
    width: 100vw;
    color: #CCC;

    @media (max-width: 1000px) {
        padding: 0 5vw;
        width: 90vw;
    }

    a,
    a:visited {
        color: #CCC;
    }

    a:hover {
        color: #FFF;
    }
}

.message3 {
    cursor: pointer;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.animate-flicker {
    animation: flickerAnimation 2.5s infinite;
}

.stop-animation {
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
