@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

html, body {
    width: 100%;
    height:100%;
    margin: 0px;
    paddin: 0px;
    overflow: hidden;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.animate-flicker {
    animation: flickerAnimation 2.5s infinite;
}

.stop-animation {
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

body {
    font-family: 'Amiri', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    background-color: #000;
    color: #FFF;
    text-align: center;
}

body p {
    line-height: 100vh;
    margin-top: 0;
}

canvas {
    outline: none;
    position: absolute;
    top: 0;
    left: calc(50vw - 50vh);
    height: 99vh;
    width: 99vh;
    display: block;
    z-index: 100;
}

#loadingScreenDiv {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    z-index: 200;
    background-color: #000;
    text-align: center;
}

.contentBox {
  height: 100vh;
  line-height: 100vh;
  text-align: center;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.bottomBox {
    position: absolute;
    bottom: 2vh;
    width: 100vw;
    color: #CCC;

    a,
    a:visited {
        color: #CCC;
    }

    a:hover {
        color: #FFF;
    }
}

#currentDay {
    position: absolute;
    z-index: 400;
    padding-top: 21vh;
    padding-left: calc(25vw - 25vh);
    text-align: left;
    line-height: 20pt;
    cursor: help;
    color: #CCC;
}

.message3 {
    cursor: pointer;
}

.small {
    font-size: 14pt;
}
