@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

html, body {
    width: 100%;
    height:100%;
    margin: 0px;
    paddin: 0px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    background-color: #000;
    color: #FFF;
}

canvas {
    outline: none;
    position: absolute;
    left: 22vw;
    width: 1000px;
    height: 900px;
    display: block;
    z-index: 100;
}

#loadingScreenDiv {
    position: absolute;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    z-index: 200;
    background-color: #111;
    text-align: center;
}

#currentDay {
    position: absolute;
    z-index: 400;
    padding: 5vw;
}
